@media (min-width: 992px){
    .form-group {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, 2fr);
        /* grid-row-gap: 50px; */
        grid-column-gap: 50px;
        /* grid-template-rows: auto;   */
        grid-template-areas: 
        "a b c d e f";
    }
    #tableval  {
        grid-area: a;
    } 
    #hostval {
        grid-area: b;
    }
    #userval {
        grid-area: c;
    }
    #searchval {
        grid-area: d;
    }
    #clearbut {
        grid-area: e;
        justify-self: stretch;
        align-self: stretch;
    }
    #searchbut {
        grid-area: f;
        justify-self: stretch;
        align-self: stretch;
    }
    
  
  
 
   
}

@media (min-width: 577px) and (max-width: 991px){
    .form-group {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: auto auto;   
        grid-template-areas: 
        "a c e"
        "b d f";
    }
    #tableval  {
        grid-area: a;
    } 
    #hostval {
        grid-area: b;
    }
    #userval {
        grid-area: c;
    }
    #searchval {
        grid-area: d;
    }
    #clearbut {
        grid-area: e;
    }
    #searchbut {
        grid-area: f;
    }
}
   
 
@media (max-width: 576px){
    .form-group {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 6fr);
        grid-template-rows: auto auto auto; 
        grid-template-areas: 
        "a b"
        "c d"
        "e f";
    }
    #tableval  {
        grid-area: a;
    } 
    #hostval {
        grid-area: b;
    }
    #userval {
        grid-area: c;
    }
    #searchval {
        grid-area: d;
    }
    #clearbut {
        grid-area: e;
    }
    #searchbut {
        grid-area: f;
    }
} 